body
  @extend .color--white, .background-color--blue-muted
  @include scheme-light
    color: var(--color-blue)
    background-color: var(--color-white)
  line-height: var(--line-height)
  font-family: var(--font-family-helvetica)
  font-size: var(--font-size)
  margin: 0
  padding: 0

main
  padding: 1em 1.5em
  @extend .background-color--blue

footer
  padding: 1em 1.5em
  @extend .color--white-muted