a, .link
  @extend .link-fg
  text-decoration: none
  &:hover
    text-decoration: underline
  &:active, &.active
    color: var(--fg)
  // [rel*='search, next, prev, external, author']

main
  label[for^='switch'], select[for^='switch']
    @extend .link, .font-size-90