nav
  margin-block: 1em
  p
    @extend .mz, .padding-minimal
    > a
      display: block
  summary
    color: var(--secondary)
    @extend .uppercase, .bold
  details
    @extend .mv1
    p
      padding-left: .8em