nav
  margin-block: 1em
  p, summary
    @extend .mz
    padding: .1em 0
  p > a
      @extend .display-block, .line-height-sub
  summary
    color: var(--secondary)
    @extend .uppercase, .bold
  details
    @extend .mv1