//
// SCREEN WIDTH
// --------------------------------------
@mixin phone
  @media screen and (max-width: 599px)
    @content

@mixin tablet-vertical
  @media screen and (min-width: 600px) and (max-width: 899px)
    @content

@mixin less-then-tablet-vertical
  @media screen and (max-width: 899px)
    @content

@mixin tablet-horizontal
  @media screen and (min-width: 900px) and (max-width: 1199px)
    @content

@mixin desktop
  @media screen and (min-width: 1200px) and (max-width: 1699px)
    @content

@mixin big-desktop
  @media screen and (min-width: 1700px)
    @content

//
// DISPLAY screen width
// Class: .screen-width
// --------------------------------------
.screen-width
  @include phone
    &::after
      content: "max width: 599px phone"
  @include tablet-vertical
    &::after
      content: "min-width: 600px tablet-vertical"
  @include tablet-horizontal
    &::after
      content: "min-width: 900px tablet-horizontal"
  @include desktop
    &::after
      content: "min-width: 1200px desktop"
  @include big-desktop
    &::after
      content: "min-width: 1700px big-desktop"