svg[class^=icon]
  stroke: var(--color-accent)
  width: var(--icon-width)
  height: var(--icon-width)
  use
    &:first-of-type
      @extend .display--inline
    &:last-of-type
      @extend .display--none
  &:hover use
    &:first-of-type
      @extend .display--none
    &:last-of-type
      @extend .display--inline
  &:active, &.active
    stroke: var(--color-fg)
  &.icon-to-top
    @extend .display--block, .z-index--10
    opacity: 0
    transition: opacity 0.4s

a[href='#top']
  @extend .display--block, .cursor--default
  position: fixed
  bottom: 0
  right: 0
  width: var(--icon-width)
  height: var(--icon-width)
  margin: var(--icon-width)

//
// SHOW TO-TOP ARROW when scrolled 1 viewport
// --------------------------------------
html.scrolled
  a[href='#top']
    @extend .cursor--pointer
  svg.icon-to-top
    opacity: 1

//
// ROTATION of GEAR icon when ajax request
// --------------------------------------
// html.ajax svg.icon-gear
//   animation: rotate 3s linear infinite
// @keyframes rotate
//   0%
//     transform: rotate(0deg)
//   100%
//     transform: rotate(360deg)