.highlight,
.highlighter-rouge
  .c1
    color: #8b949e
  .nx
    color: #d2a8ff
  .o,
  .o + .k,
  .p + .k,
  .na + .k,
  .k + .k,
  .s + .k
    color: #ff7b72
  .no,
  .na,
  .p,
  .p + .nx,
  .k + .nx,
  .p + .na
    color: #c9d1d9
  .nl,
  .nt
    color: #7ee787
  .k,
  .o + .nx
    color: #ffa657
  .mi,
  .nv,
  .p + .nx + .p + .na,
  .nx + .nx + .p + .na,
  .k + .nx + .p + .na,
  .nx + .p + .no
    color: #79c0ff
  .s,
  .s1,
  .s2
    color: #a5d6ff