// Standard paragraph and description list
p
  padding-block: var(--two-third)
dl
  dt
    @extend .bold, .mt1
  dd
    @extend .display-list-item

[page-collection='posts']
  strong, em
    @extend .yellow-fg
dl dt, h3
  @extend .green-fg

li, dd
  &::marker
    @extend .secondary-fg

// Cursor on abbreviations
abbr
  cursor: help

// Default cursor
p, span, code, li, small, q, cite, time
  &[title], &[cite]
    @extend .cursor-default

// Super and sub scripts
sup
  margin-inline: .1em
  vertical-align: top
  font-size: medium
sub
  vertical-align: bottom
  font-size: medium

// Inserted and deleted
ins
  @extend .green-fg
del
  @extend .red-fg