$headings-margins: 0.67 0.83 1 1.33 1.67 2.33 !default

// COLORS
$base-colors: ('blue': DodgerBlue, 'red': Red, 'orange': OrangeRed, 'yellow': Yellow, 'green': LimeGreen, 'forest': YellowGreen, 'fucsia': Fuchsia, 'violet': Indigo, 'cyan': Cyan) !default

// SHADES names
$base-shades: ('secondary', 'faint', 'subtle', 'liminal')

// LIGHTNESS
$base-lightness: ('secondary': 50%, 'faint': 27%, 'subtle': 13%, 'liminal': 6%)

// FONT FAMILIES
$font-families: ('sans-serif': 'DejaVu Sans', 'monospace': 'DejaVu Sans Mono', 'serif': 'DejaVu Serif')

\:root

  // FONTS
  --font-size: 22px
  --font-size-sub: 18px
  --font-size-min: 16px
  --line-height: 1.6
  --line-height-sub: 1.4

  // SPACING
  --two-third: 0.67em
  --spacing-unit: 1em 0.67em
  --spacing-minimal: .1em .3em
  --spacing: .2em 1em
  --spacing-box: .4em .7em
  --block: 3em

  // SIDEBAR
  --sidebar-width: 330px
  // 15em
  --icon-width: 30px