{% assign archive = 'archive' | absolute_url %}
{% assign meta = include.page | default: page %}
<div class="log">
  {%- if meta.author -%}
    <span>Authored: <a href='{{ archive }}?authored={{ meta.author }}' rel='search' title='Search author'>{{ meta.author }}</a></span>
  {%- endif -%}
  {% assign sec = meta.date | date: '%s' | plus: 0 %}
  {%- if sec > 1000 -%}
    <span>Published: <a href='{{ archive }}?published={{ meta.date | date_to_string | split: " " | slice: 1, 2 | join: " " }}' rel='search' title='Search date'>{{ meta.date | date_to_string }}</a></span>
  {%- endif -%}
  {%- if meta.categories.size > 0 -%}
    <span>Categorized: {% for c in meta.categories %}
      <a href='{{ archive }}?categorized={{ c }}' rel='search' title='Search category'>{{ c }}</a>{%- unless forloop.last -%}, {%- endunless -%}{% endfor %}
    </span>
  {%- endif -%}
  {%- if meta.tags.size > 0 -%}
    <span>Tagged: {% for c in meta.tags %}
      <a href='{{ archive }}?tagged={{ c }}' rel='search' title='Search tag'>{{ c }}</a>{%- unless forloop.last -%}, {%- endunless -%}{% endfor %}
    </span>
  {%- endif -%}
  {%- if meta.source -%}
    <span>Source: <a href='{{ meta.source }}' rel='external'>Link</a></span>
  {%- endif -%}
</div>