{%- if page.pagination -%}
{% comment %} -------------------- NEXT AND PREV PAGE -------------------- {% endcomment %}
{%- assign collection = site[page.collection] -%}
{%- if collection.size -%}
  {%- assign sorted_docs = collection | reverse -%}
  {%- for doc in sorted_docs -%}
    {%- if next -%}
      {%- assign next_title = doc.title -%}
      {%- assign next_url = doc.url -%}
      {%- assign next = nil -%}
    {%- endif -%}
    {%- if doc.url == page.url -%}
      {%- assign prev_title = last_title -%}
      {%- assign prev_url = last_url -%}
      {%- assign next = true -%}
    {%- endif -%}
    {%- assign last_title = doc.title -%}
    {%- assign last_url = doc.url -%}
  {%- endfor -%}
{%- endif -%}

{% if next_title or prev_title %}<div class='pagination'>
  <div>{% if prev_title %}Previous: <a href='{{ prev_url | absolute_url }}' rel='prev'>{{ prev_title | truncate: 31 }}</a>{% endif %}</div>
  <div>{% if next_title %}Next: <a href='{{ next_url | absolute_url }}' rel='next'>{{ next_title | truncate: 31 }}</a>{% endif %}</div>
</div>{% endif %}
{%- endif -%}