<!DOCTYPE html>
<html lang='{{ page.language | default: site.language | default: 'en' }}'>
{% include page/head.html %}
<body
  onresize='resize()'
  onload='update()'
  onfocus='focus()'
  onblur='blur()'
  ononline='online()'
  onoffline='offline()'
  class='{{ page.class | append: ' ' | append: site.class | strip }}'
  data-pages='{{ site.html_pages.size | plus: site.documents.size }}'
  data-github-fork='{{ site.github.public_repositories | where: 'full_name', site.github.repository_nwo | first | map: 'fork' | first }}'
  data-github-environment = '{{ site.github.environment }}'
  data-title='{{ page.title | slugify }}'
  data-collection='{{ page.collection }}'
  data-categories='{{ page.categories | join: ',' }}'
  data-tags='{{ page.tags | join: ',' }}'>
  {% if page.header %}{% include widgets/header.html %}{% endif %}
  {% include widgets/nav.html %}
  {% include page/main.html %}
  {% include page/footer.html %}
  <a href='#top'>{% include svg/to_top.svg %}</a>
  <div id='notification'></div>
</body>
</html>